

<section id="app" class="container">


</section>







<script type="text/template" id="">

</script>

<script type="text/template" id="client-template">
	<div class="client-box" data-href="{{id}}">
		<div class="name">{{ name }}</div>
		<span class="description">{{ description }}</span>
	</div>

</script>

<script type="text/template" id="about-template">
	<h2>About Us</h2>
	<p>This is just some random text. So with newer versions of Backbone you'll want to list for the "add", "remove", and "change" events (which a collection based view should be listening for anyway); you could also use {reset: true} on the initial fetch and listen to "reset" as well. I'd recommend the following approach for collection based views:
	</p>

</script>





<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>


<script type="text/javascript">
	
	$(document).ready(function() {
		//var clients = new Clients();
		//clients.reset('<%= unescape(JSON.stringify(clients)) %>');

		//var clientsView = new ClientsView({
		//  collection : clients,
		//  el : $('#app')[0]
		//});

	//	clientsView.render();

	});
	


</script>