
<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/test.css" />

</head>

<body>

  <header class="topbar" id="mainNav">
    <div class="container">
      <a href="#"><img src="/images/compound.png" /></a>
      <ul class="nav">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/help">Help</a></li>
      </ul>

    </div>
  </header>
    <%- body -%>


  
  
  <script src="/javascripts/app.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      
    });

  </script>
</body>
</html>

  </body>
</html>